<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334634274548-r7n4d1bkidrqepsabjgkb6j1fclh969j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334634274548-r7n4d1bkidrqepsabjgkb6j1fclh969j</string>
	<key>API_KEY</key>
	<string>AIzaSyD27LT9zUjSBXFL5CMc1JlotPxTztlZeUs</string>
	<key>GCM_SENDER_ID</key>
	<string>334634274548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.locallyFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>localy-d8280</string>
	<key>STORAGE_BUCKET</key>
	<string>localy-d8280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334634274548:ios:cf88087b4ee2b7164558a1</string>
	<key>DATABASE_URL</key>
	<string>https://localy-d8280.firebaseio.com</string>
</dict>
</plist>